@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

.container {
  display: flex;
  align-items: flex-start;
  border: 1px black solid;
  width: 40%;
}

.button-container {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 39.06%;
  margin: 5px;
}

.button-container button {
  color: white;
  background-color: black;
  border: none;
  border-radius: 5px;
  padding: 12px;
}

.pokemon-container {
  display: flex;
  width: 100%;
}

.pokemon-header {
  width: 40%;
  height: auto;
}

.pokemon-name {
  width: 100%;
  text-align: center;
}

.pokemon-sprite {
  width: 100%;
  height: auto;
}

.pokemon-type {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  height: 10%;
}

.subtitle {
  margin-bottom: 0;
}

p {
  margin-left: 20px;
}
