@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  background-color: #2b4eff;
}

.container {
  display: flex;
  align-items: flex-start;
  border: 2px black solid;
  border-radius: 5px;
  width: 50%;
  padding: 10px;
  background-color: white;
}

.button-container {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  left: 26%;
  right: 26%;
}

.button-container button {
  color: white;
  background-color: black;
  border: none;
  border-radius: 5px;
  padding: 15px;
}

.pokemon-container {
  display: flex;
  width: 100%;
}

.pokemon-header {
  width: 40%;
  height: auto;
}

.pokemon-name {
  width: 100%;
  text-align: center;
}

.pokemon-sprite {
  width: 100%;
  height: auto;
}

.pokemon-type {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  height: 10%;
}

.subtitle {
  margin-bottom: 0;
}

p {
  margin-left: 20px;
}

@media only screen and (max-width: 800px) {
  .container {
    width: 80%;
  }

  .pokemon-container {
    flex-direction: column;
  }

  .pokemon-header {
    width: 100%;
    justify-content: center;
  }

  .button-container {
    left: 13.5%;
    right: 13.5%;
  }

  .pokemon-sprite {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1300px) {
  .container {
    width: 70%;
  }
  .button-container {
    left: 16.7%;
    right: 16.7%;
  }
}
